<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@MemoApp1">
<meta name="twitter:title" content="Memo-App">
<meta name="twitter:text:title" content="Memo-App">
<meta name="twitter:description" content="Share favorites with friends">
<meta name="twitter:creator" content="@MemoApp1">
<meta name="twitter:app:name:iphone" content="Memo-App">
<meta name="twitter:app:id:iphone" content="1457537137">
<meta name="twitter:app:name:googleplay" content="Memo-App">
<meta name="twitter:app:id:googleplay" content="com.memo_app.android">

<meta property="fb:app_id" content="2405882476364859" />
<meta property="og:title" content="Memo-App" />
<meta property="og:description" content="Share favorites with friends" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:url" content="{{url}}/memos/sharePage/{{img}}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{url}}/memos/image/share/{{img}}" />

<title>Memo-App</title>

<script type="text/javascript">
    function load()
    {
	    window.location.href = "https://orlyam.wixsite.com/memo-app";
    }

       
</script>

</head>
<body onload="load()">
</body>

</html>